#dashboard {
  height: 100%;
  display: grid;
  grid-template: "w" "c";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-gap: 80px;
  text-align: center;
}

.content {
  display: inline-grid;
  grid-template: "g j";
  grid-area: c;
  grid-gap: 0 40px;
  transition: 1s;
  grid-template-columns: 350px 1fr;
}

.expanded {
  grid-template-columns: 1fr 350px;
}

.widget {
  background-color: white;
  border-radius: 10px;
}

.widget .title {
  color: $dark-gray;
}

.error-icon {
  font-size: 5em;
  color: $gray;
  margin: 0 0 10px;
}

.subheading {
  color: $gray;
  font-weight: 300;
  margin: 5px auto;
  font-size: 1em;
}