@import "mixins";
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Mina|Roboto:300,400,500,700');
html, body {
  width: 100%;
  min-height: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: $main-blue;
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100%;
  height: 1px;
  padding: 30px;
  box-sizing: border-box;
}

.App {
  height: 100%;
  display: grid;
  grid-template: ". w ." "j j j";
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

@import "components/weatherWidget";
@import "dashboard";
@import "githubSuccess";