#github-widget  {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  transition: 1s;
  font-size: 1.2em;
}

#github-widget:focus, #github-widget:active, #github-widget:hover {
  overflow-y: auto;
}

#github-widget.login {
  justify-content: center;
}

#github-widget .login-button {
  color: white;
  background-color: $login-green-bright;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  border: none;
  border-radius: 5px;
  transition: 1s;
}

#github-widget .login-button:focus {
  outline: none;
}

#github-widget .login-button:hover {
  background-color: $login-green-bright;
}

#github-widget object {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.repo-list {
  padding: 0 10px;
  list-style: none;
}

.github-repo {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: left;
  border-bottom: solid 1px $gray;
  padding: 20px 0;
  cursor: pointer;
}

.github-repo:last-child {
  border-bottom: none;
}

.repo-name {
  display: block;
  overflow: hidden;
  padding: 0;
  max-height: 1.5em;
  line-height: 1.5em;
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-size: 1em;
  text-overflow: ellipsis;
}