.notes .clear{
  color: white;
  background-color: $login-green-bright;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.note_grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 95% 5%;
  grid-template-rows: 5% 85% 10%;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.trash {
  background-image: url("../media/icons/trash.svg");
  background-repeat: no-repeat;
  border: none;
  height: 15px;
  width: 15px;
  background-color: transparent;
}

.trash:hover {
  background-image: url("../media/icons/trash-can.png");
}

.add_note {
  grid-area: footer;
}

.notes {
  overflow: scroll;
}

.clear {
  grid-area: header;
}

.notes h1{
  margin-top: 0;
  font-family: 'Mina', 'Montserrat', sans-serif;
}

.notes ul{
  text-overflow: ellipsis;
}

.notes .list{
  text-align: left;
  grid-area: main;
  overflow: auto;
}

.notes .field{
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  text-align: center;
  color: white;
  width: 500px;
}
