.notes .clear{
  color: white;
  background-color: $login-green-bright;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.notes {
  overflow: scroll;
}
.notes h1{
  margin-top: 0;
  font-family: 'Mina', 'Montserrat', sans-serif;
}
.notes ul{
  text-overflow: ellipsis;
}
.notes .list{
  text-align: left;
}
.notes .field{
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  text-align: center;
  color: white;
  width: 500px;
}
