.linkObj {
  width: 150px;
  height: 20px;
}

.linkData {
  float: left;
  overflow: scroll;
  width: 115px;
}

.linkCopy {
  float: right;
  background-image: url("../../media/icons/link.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 100%;
  border: none;
  margin-top: 7px;
}

.linkCopy:hover{
    transform: scale(1.2);
}

.typeLink {
  overflow-wrap: normal;
  resize: none;
  height: 15px;
  width: 150px;
}

.saveLink{
  width: 100%;
}
