.quick-links {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.quick-link {
  background-color: $widget-background;
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 1s ease-in-out;
  margin: 10px 0;
}

.quick-link:hover {
  transform: scale(1.2);
}
