.settings-widget .section {
  text-align: left;
}

.settings-widget h1, h2 {
  font-family: 'Mina', 'Montserrat', sans-serif;
}

.settings-widget .settings-button {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}