.settings-widget .section {
  text-align: left;
  margin-top: 80px;
}

.settings-widget .weather-settings {
  margin-top: 0;
}

.settings-widget h1, h2 {
  margin-top: 0;
  font-family: 'Mina', 'Montserrat', sans-serif;
}

.settings-widget .settings-button {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.settings-widget .font-size-button {
  margin-left: 10px;
}

.sp-button {
 color: white;
 background-color: $login-green-bright;
 border: none;
 border-radius: 5px;
 margin-top: 5px;
 margin-right: 3px;
}

.sp-button:hover {
  background-color: blue;
}
.options {
  margin-top: 1%;
}

.songImg {
  border-radius: 5%;
  width: 40%;
  height: 40%;
  margin: 2%;
  transition: 1s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.songImg:hover {
  transform: scale(1.1);
}
