@import "mixins";

html, body {
  width: 100%;
  min-height: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: steelblue;
  @include tablet {
    background-color: lightskyblue;
  }
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: grid;
  grid-template: ". w ." "b b b";
  grid-template-rows: 1fr 3fr;
}

.weather {
  grid-area: w;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-icon {
  width: 100px;
}

.temperature {
  color: white;
  font-size: 4em;
  margin: 20px;
}