@import "mixins";

html, body {
  width: 100%;
  min-height: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: steelblue;
  @include tablet {
    background-color: lightskyblue;
  }
}